<div {{ attributes }}>
  <div>{{ date }}</div>
  {% if is_closed %}
     {{  'Closed'|t }}
  {% else %}
    {{ periods }}
  {% endif %}
  {% if comments %}
    <div><small>{{ comments }}</small></div>
  {% endif %}
</div>

