<div {{ attributes }}>
  <div>{{ day }}</div>
    {% if is_closed %}
        {{  'Closed'|t }}
    {% else %}
        {{ periods }}
    {% endif %}
    {% if comments %}
      <small>{{ comments }}</small>
    {% endif %}
</div>
